$text-color: #000000;
$dark-color: #c4dfdf;
$semi_dark-color: #d2e9e9;
$semi_light-color: #e3f4f4;
$light-color: #f8f6f4;

$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-light: 300;

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
