$text-color: #000000;
$dark-color: #161a30;
$semi_dark-color: #31304d;
$semi_light-color: #b6bbc4;
$light-color: #f0ece5;

$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-light: 300;

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
