@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  background-color: #f0ece5;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  font-family: "Raleway", sans-serif;
  padding: 1rem;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}
body header {
  box-sizing: border-box;
  display: flex;
  background-color: #161a30;
  border-radius: 8px;
  color: #f0ece5;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.49); /* horizontal-offset vertical-offset blur spread color */
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
body header .logo img {
  max-width: 200px;
  max-height: auto;
}
body header .nav {
  list-style-type: none;
}
body header .nav li {
  display: inline-block;
  margin-right: 100px;
}
body header .nav li li:not(:last-child) {
  margin-right: 0px;
}
body header .nav li a {
  text-decoration: none;
  font-weight: 500;
  padding-right: 4px;
  color: #f0ece5;
  transition: box-shadow 0.3s ease;
}
body header .nav li a:hover {
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgb(240, 236, 229);
}
body header .language_selector a {
  margin-right: 20px;
}
body header .language_selector img {
  max-width: 30px;
  max-height: auto;
  transition: box-shadow 0.3s ease;
}
body header .language_selector img:hover {
  border-radius: 2px;
  padding-right: 2px;
  box-shadow: 0px 0px 3px rgb(244, 242, 239);
}
@media screen and (max-width: 600px) {
  body header {
    flex-direction: column;
  }
  body header .logo img {
    max-width: 100px;
  }
  body header .nav {
    list-style-type: none;
  }
  body header .nav li {
    display: inline-block;
  }
  body header .language_selector img {
    max-width: 30px;
    max-height: auto;
  }
  body header .language_selector img:hover {
    border-radius: 2px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
  }
}
body main {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 2rem;
  padding-bottom: 10rem;
  background-image: url(../img/photos/background_map.jpg);
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
}
body main .contact_img {
  text-align: center;
  background-position: center;
  background-size: cover;
  width: 1200px;
  height: 500px;
}
body main .content .grid-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  justify-items: center;
  align-items: center;
}
body main .content .grid-item {
  display: flex;
}
body main .content .grid-item p {
  text-align: center;
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.49);
  text-indent: 50px;
  line-height: 1.8;
  word-spacing: 10px;
  font-weight: 600;
}
body main .content .grid-item p .first-word {
  font-size: 2em;
  font-weight: bold;
}
body main .content .grid-item img {
  width: 90%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.49);
}
body main .content #img_roads {
  width: 100%;
  max-height: auto;
  border-radius: 8px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.49);
}
body main .content #img_ship_cargo_1 {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.49);
}
body main .content #img_rail_cargo_1 {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.49);
}
body main .content #img_office {
  max-width: 60%;
  max-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.49);
}
body main .content #img_truck_cargo_2 {
  width: 80%;
  max-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.49);
  margin-right: 10rem;
}
body main #img_rail_cargo_2 {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.49);
}/*# sourceMappingURL=style.css.map */